.img-content{
  display: inline-block;
}
.img {
  margin: 1%;
  width: 30%;
  float: left;
}

.img-width {
  width: 100%;
}

.margin-rb{
  margin-right: 2%;
}

.center-div {
  width: 50%;
  display: flex;
}

.bg-input {
  background-color: #f7f7f7;
  width: 99%;
}

.input-css{
  width: 50%;
  float: left;
}

.inputs-container{
  overflow: hidden;
}
